@model NetProblemsExample.Models.Person
@{
    ViewBag.Title = "StartPage";
}

<h2>StartPage</h2>

@if (!Model.IsDone)
{
    <ul>
        <li>
            @using (Html.BeginForm("StartPage", "Home", FormMethod.Post))
            {

                <div class="form-group">
                    @Html.Label("First Name")
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", autofocus = "autofocus" })
                </div>
                <div class="form-group">
                    @Html.Label("Last Name")
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", autofocus = "autofocus" })
                </div>
                <div class="form-group">
                    @Html.HiddenFor(m => m.IsDone, new {@Value=true})
                </div>
                <br />
                <input type="submit" class="btn btn-primary" name="Submit" />
            }
        </li>
    </ul>
}
else
{
    <ul>
        <li>
            <label> person first name:  @Model.FirstName</label><br/>
            <Label> person last name:  @Model.LastName</Label>
            <form action="~/Home/SecondPage">
                <button class="btn btn-success">Next page</button>
            </form>
        </li>
    </ul>
}